.container
  = render 'shared/side_bar'
  .container__main
    .container__main__header
      .container__main__header__left
        %h2
          = current_user.user_name
        %p
          = @group.created_at
      .container__main__header__right
        =link_to "Edit", "/groups/#{params[:group_id]}/edit", :class => "container__main__header__right__edit"
    .container__main__contents
      - @messages.each do |message|
        = render "main__contents__message", message: message
    .container__main__footer
      = form_for [@group, @message] , html: {id: 'new_message'} do |f|
        .container__main__footer__left
          = f.text_field :message, class: "container__main__footer__left__send", placeholder: "type a message"
          %label.upload-label{ for: "uploader-icon" }
            %span.picture
              %i.fa.fa-picture-o
              = f.file_field :image, id: "uploader-icon"
        .container__main__footer__right
          = f.submit "send", class: "container__main__footer__right__submit"
